@import 'static/status-colors.scss';
@include colored-status('A', var(--status-green-color));
@include colored-status('H', var(--status-orange-color));
@include colored-status('R', var(--status-gray-color));
@include colored-status('O', var(--status-blue-color));
@include colored-status('C', var(--status-red-color));