@import 'static/status-colors.scss';
@include colored-status('B', var(--status-blue-color));
@include colored-status('S', var(--status-blue-color));
@include colored-status('U', var(--status-blue-color));
@include colored-status('P', var(--status-gray-color));
@include colored-status('V', var(--status-gray-color));
@include colored-status('C', var(--status-gray-color));
@include colored-status('R', var(--status-gray-color));
@include colored-status('H', var(--status-orange-color));
@include colored-status('D', var(--status-red-color));
@include colored-status('J', var(--status-red-color));
@include colored-status('Q', var(--status-red-color));
