@import "sp-hacks.scss";

:root {
	--qp-page-host-padding: 20px !important;
	--sp-primary-color: #027acc;
	--sp-primary-color-hover: #3399cc;
	--sp-in-stock: #47A824;
	--sp-out-of-stock: #00000050;
	--sp-section-item: 22.4px;
	--qp-data-feed-background-color: transparent;
    --qp-data-feed-padding-inline: 0px;
    --qp-data-feed-padding-block: 0px;
    --qp-data-feed-border-radius: 0px;
}

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden;
}

@mixin turn-on-sticky-summary($width) {
	@media (width >= #{$width}px) {
		.sp-document-summary-fixed  {
			max-width: 600px;
			min-width: 260px;
			position: fixed;
			padding-right: 20px;
		}

		.sp-data-feed-fieldset-noborder:last-of-type {
			padding-right: 15px !important;
		}
	}

	@media (width < #{$width}px) {
		.sp-sticky-summary {
			position: fixed;
			bottom: 0px;
			left: 0px;
			z-index: 10;

			.qp-fieldset {
				border: none;
				margin: 0;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				width: 100vw;

				.qp-field:not(:last-of-type) {
					display: none;
				}

				.qp-field:last-of-type * {
					font-weight: 700;
					border: none;
				}

				.qp-fieldset-caption {
					display: none;
				}

				.continue-shopping-btn {
					display: none;
				}
			}
		}

		div:has(+.sp-sticky-summary) {
			padding-bottom: 140px; // compensate for sticky overlapping the previous item
		}

		.sp-sticky-hidden {
			display: none;
		}
	}
}

.sp-main-reversed {
	@container qp-screen (width >= 692px) {
		display: flex;
		flex-flow: row-reverse;
		align-self: flex-start;
	}
}

.sp-screen-container {
	container: qp-screen / inline-size;
	display: inline-block;
	width: 100%;
	padding-left: 0px;
}

.sp-wide-feed-container {
	container: sp-wide-feed / inline-size;
	display: inline-block;
	width: 100%;
}

.sp-wide-screen {
	@media (width >= 800px) {
		flex-wrap: nowrap;

		& > :not(.sp-sticky-summary) {
			flex: 0 1 1200px;
		}

		& > .sp-sticky-summary {
			flex: 1 0 350px;
		}
	}

	@include turn-on-sticky-summary(800);
}

:has(> .sp-sticky-summary):not(.sp-wide-screen) {
	@include turn-on-sticky-summary(692);
}

.custom-filter-panel {
	display: flex;
	flex-wrap: nowrap;

	@container sp-wide-feed (width < 600px) {
		padding-bottom: 8px;
	}

	.custom-filter-panel-inputs {
		display: flex;
		flex-basis: 1px;
		flex-grow: 1;
		margin-left: -10px;

		@container sp-wide-feed (width < 600px) {
			flex-direction: column;
		}
	}

	.qp-fieldset fieldset {
		flex-direction: row;
	}

	.qp-fieldset {
		background-color: white;
		border: none;
		padding: 0;
		margin-bottom: 8px;
	}

	.qp-field-wrapper .label-wrapper,
	.qp-field > .wrapper > .label-wrapper {
		max-width: 70px;
	}

	.sp-search-field {
		min-width: 200px;

		@container sp-wide-feed (width < 600px) {
			width: 100%;
		}

		.icon-container {
			top: 0px;

			&::after {
				content: "\e91a";
				font-size: 16px;
				display: inline-block;
				visibility: visible;
				font-family: 'FontAwesome';
				color: #808080;
			}
		}
	}

	#fsSearch {
		flex-grow: 2;
		flex-basis: 1px;
		max-width: 560px;
	}

	.sp-category {
		min-width: 120px;
		width: 200px;

		@container sp-wide-feed (width < 600px) {
			width: 100%;
		}

	}

	.sp-remove-from-cart {
		margin-bottom: 12px;

		@container sp-wide-feed (width < 600px) {
			align-self: flex-start;
		}
	}

	.price-filter {
		padding-left: 0px;
	}

	.price-filter-field {
		padding-left: 10px;

		@container sp-wide-feed (width < 600px) {
			flex-grow: 1;
    		flex-basis: 1px;
		}
	}

	.price-filter .hidden {
		display: none;
	}

	.price-filter .price-filter-panel.dialog {
		min-width: 270px;
		width: 270px;
		border-radius: 6px;
		padding: 8px 0px;
		position: absolute;
		z-index: 10000;

		@media (width < 692px) {
			right: 0px;
		}

		@media (width < 480px) {
			min-width: 190px;
			width: 190px;
		}
	}

	.price-filter .price-filter-panel .qp-field-wrapper .label-container,
	.price-filter .qp-field > .wrapper > .label-wrapper,
	.price-filter .qp-field .label-container {
		max-width: 70px;
	}

	.price-filter .price-filter-panel .qp-field {
		padding-bottom: 7px;
	}

	.price-filter .price-filter-dialog-overlay {
		z-index: 1000;
	}

	.price-filter .price-filter-btn .qp-button {
		border-radius: 6px;
		background-color: #fff;
		border: #D2D4D7 1px solid;
	}

	.price-filter .price-filter-btn .qp-button:hover {
		background-color: var(--qp-background-color);
	}
}

.sp-feed-grid {
	* {
		row-gap: 0px;
	}
}

.sp-size-fit {
	qp-button {
		min-width: fit-content;
	}
}

.sp-xxs-hidden {
	@container qp-screen (width < 400px) {
		display: none;
	}
}
.sp-non-xxs-hidden {
	@container qp-screen (width >= 400px) {
		display: none;
	}
}

qp-data-feed {
	&.no-toolbar {
		.qp-data-feed__top-bar {
			display: none !important;
		}
	}

	.qp-data-feed {
		&__top-bar {
			padding-bottom: 8px;
			padding-left: 6px;
		}

		feed-body {
			max-width: 100%;
		}
	}
}

.sp-data-feed {

	qp-fieldset {
		background: white;

		fieldset {
			flex-direction: unset;
			flex-wrap: wrap;
			column-gap: var(--qp-sections-column-gap);

			.sp-data-feed-field {
				margin-bottom: auto;

				@container qp-screen (width >= 1140px) {
					column-gap: var(--qp-sections-column-gap);
				}

				& > div {
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					line-height: 36px;
					color: black;
					padding-left: 8px;

					@container qp-screen (width < 1140px) {
						line-height: 20px;
						padding-left: 0px;
					}
				}
			}

			.qp-field .wrapper {
				padding-left: 0px;
			}
		}
	}

	.sp-data-feed-fieldset-noborder {
		border-radius: 0px;
		border: none;
		margin-bottom: 0px;
		padding: 12px 15px 12px 10px;

		@container qp-screen (width < 692px) {
			padding: 12px 0px 12px 0px;
		}

		@media (width < 692px) {
			padding: 12px 0px 12px 0px;
		}
	}

	.sp-data-feed-fieldset {
		margin-left: 10px;
		width: calc(100% - 10px);
		padding: 10px;

		@container qp-screen (width >= 1140px) {
			border-radius: 0px;
			border: none;
			border-bottom: 1px solid #E8E8E8;
			margin-bottom: 0px;

			.sp-grid-view-invisible {
				visibility: hidden;
			}
			.sp-grid-view-hidden {
				display: none;
			}
		}

		@container qp-screen (width < 1140px) {
			.sp-pane-view-invisible {
				visibility: hidden;
			}
			.sp-pane-view-hidden {
				display: none;
			}
		}
	}

	feed-item:last-of-type .sp-data-feed-fieldset {
		margin-bottom: 0px;
	}

	.sp-short-field {
		max-width: fit-content;
	}

	.qp-selector-link-desc {
		display: none;
	}

	.qp-selector-link-text {
		min-width: 100%;
	}
}


.sp-finances-tab .grid-content-table {
	tr.alt-row:not(.active) > td {
		background-color: white;
	}

	td span.cell-content a {
		color: var(--qp-primary-color);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.sp-address-link {
	position: relative;
	color: var(--primary-color);
	width: fit-content;
	padding-left: 0px;

	&:hover {
		text-decoration: underline;
	}

	qp-address-lookup {
		position: absolute;
    	top: 0px;

		qp-button {
			width: 100%;

			button {
				height: 100%;
				background: transparent !important;
				color: transparent !important;
				box-shadow: none !important
			}
		}
	}
}

qp-fieldset .qp-field-override qp-field:first-of-type {
	padding-left: 0;
}

.no-padding-x {
	padding: 0;
}

fieldset.collapsed .qp-field {
	&.qp-field-expanded.force-collapse {
		display: none;
	}

	&.qp-field-collapsed.never-collapse {
		display: block;
	}
}

.sp-condensed-section  {
	qp-field:first-of-type {
		margin-top: 6px;
	}
	qp-field * {
		height: 20px;
		line-height: 22px !important;
		vertical-align: baseline !important;
	}
	&.sp-filled-section .label-container:after {
		line-height: 22px !important;
	}
}

.sp-field-text-replaced {
	padding-left: 10px;
    line-height: 22px;
}

.sp-filled-section qp-field {
	&:not(.sp-no-value) .label-container {
		margin-right: 0px !important;

		&:after {
			content: ":" !important;
			font-size: 14px;
			opacity: 1;
			padding: 0 6px 0 0px !important;
			line-height: 22px;
		}
	}
	.label-wrapper {
		width: auto !important;
		margin-right: 0px !important;
	}
	.control-container {
		flex: 1 1 1px;

		* {
			border: none;
			padding: 0px;
			height: 20px !important;
			line-height: 22px;
		}

		&:has(:is([enabled=false],[readonly="true"])) {
			* {
				padding: 0px;
				border: none;
				text-align: left !important;
			}
		}
	}
}

.sp-unfilled-section {
	qp-field {
		display: none;
	}
	.qp-fieldset-caption {
		color: #1B1B1B4D;
	}
}

.sp-view-details {
	button {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100% !important;
		height: 100% !important;
		background: transparent !important;
		color: transparent !important;
		box-shadow: none !important;
		z-index: 4;
	}
}

.sp-document-totals,
.sp-fieldset-summary {
	.qp-text-editor {
		text-align: right;
	}

	.size-default .qp-text-editor {
		&.qp-integer,
		&.qp-float {
			max-width: none;
		}
	}

	&:not(.sp-document-summary-fixed) {
		width: 100%;
	}

	// TODO: check if we can remove the other declaration for qp-button
	qp-button {
		width: 100%;
		margin-left: 8px;
		padding-left: 0px;
	}
}

.sp-continue-button {
	margin-left: 8px;
	min-width: 120px;
	padding-left: 0px;
}

.sp-fieldset-summary {
	background-color: #DBF1FF;
	border: 1px solid #027ACC59;

	fieldset {
		background: none;
	}

	.qp-field:last-of-type:not(:only-of-type) * {
		font-weight: 700;
	}

	qp-button {
		width: 100%;
		margin-left: 8px;
	}
}

@container qp-screen (width < 600px) {
    .col-xs-6 {
        width: calc(6*(100% + var(--qp-sections-column-gap)) / 12 - var(--qp-sections-column-gap)) !important;
    }
    .col-xs-12 {
        width: 100%	 !important;
    }
}

.sp-section {
	flex-direction: column;
	display: flex;
	padding-left: 8px;
	gap: 10px;
	width: 100%;

	.sp-section-item {
		padding: 12px 16px;
		border-radius: 12px;
		border: 1px solid #DCDCDC;
		background-color: white;
		line-height: var(--sp-section-item);

		&-selected {
			border: 2px solid var(--qp-primary-color);
			padding: 11px 15px;

			&.sp-section-item-new {
				background-color: inherit;
			}
		}

		.sp-section-entered .qp-fieldset {
			border: none;
			padding: 0px;
			margin-top: 14px;
			margin-bottom: 0px;

			.qp-field .wrapper {
				padding: 0px;
			}
		}

		.sp-radio {
			display: flex;
			align-items: center;
		}

		.sp-continue-button {
			margin-top: 10px;
			margin-left: 0px;
		}

		input[type="radio"] {
			margin: 0px;
			margin-right: 10px;
			height: 22px;
			align-self: flex-start;
		}
	}
}

.sp-panel {
	.qp-fieldset {
		border: none;
		padding: 0px;
		margin-bottom: 0px;
	}

	fieldset {
		flex-direction: row;
		column-gap: 10px;
	}
}

.sp-image {
	&-blob {
		object-fit: contain;
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	&-empty {
		background-color: #F5F7F8;
		height: 100%;
		width: 100%;
		align-content: center;
		text-align: center;
		border-radius: 20px;

		qp-hyper-icon {
			width: min-content;
			display: inline-block;
			transform: scale(2);
			color: #868E96;
		}

		&.small {
			border-radius: 6px;

			qp-hyper-icon {
				transform: scale(1.25);
				padding-top: 3px;
			}
		}
	}
}

.qp-field-override {
	&:has(> .aurelia-hide) { // TODO: Try to find a better way to do this
		display: none;
	}
	&:has(> .hidden) { // TODO: Try to find a better way to do this
		display: none;
	}
	&:has(qp-field > div.aurelia-hide) {
		display: none;
	}
}

.qp-fieldset-caption {
	pointer-events: none; // prevent collapse on click
}

.sp-status > span {
	display: inline-block;
	line-height: 16px;
	font-weight: 700;
	padding: 4px 0px;
}


#Shipment_Status_N,
#Shipment_Status_A {
	color: #007ACC;

}
#Shipment_Status_H {
	color: #FFC107;
}
#Shipment_Status_L {
	color: #EE4051;
}
#Shipment_Status_C,
#Shipment_Status_F,
#Shipment_Status_Y,
#Shipment_Status_R,
#Shipment_Status_I {
	color: #47A824;
	;
}

#Payment_Status_P {
	color: #47A824;
}

#Payment_Status_V {
	color: #EE4051;
}

#Payment_Status_I {
	color: #007ACC;
}

:is(#edDocument-Status, #edOpenOrders-Status, #edUnpaidOrders-Status, #edAllOrders-Status, #edSOAdjustmentsExt-SOOrder__Status, #edAllInvoices-Status, #edOpenInvoices-Status, #edAllDocuments-Status, #edOpenDocuments-Status, #edAllPayments-Status, #edCases-Status) {
	&,
	&.drop-down__editor .drop-down__text {
		background: unset !important;
		font-weight: 700;

		&[valueattr='N'],
		&[valueattr='O'] {
			color: #007ACC;
		}
		&[valueattr='H'] {
			color: #FFC107;
		}
		&[valueattr='V'],
		&[valueattr='L'] {
			color: #828282;
		}
		&[valueattr='R'],
		&[valueattr='D'],
		&[valueattr='B'] {
			color: #EE4051;
		}
		&[valueattr='C'],
		&[valueattr='S'],
		&[valueattr='I'] {
			color: #47A824;
		}
		&[valueattr='P'],
		&[valueattr='E'],
		&[valueattr='A'] {
			color: #6F42C1;
		}
	}
}
