@import 'static/status-colors.scss';
@include colored-status('R', var(--status-blue-color));
@include colored-status('H', var(--status-orange-color));
@include colored-status('B', var(--status-blue-color));