@import 'static/status-colors.scss';
@include colored-status('P', var(--status-purple-color));
@include colored-status('R', var(--status-blue-color));
@include colored-status('I', var(--status-green-color));
@include colored-status('H', var(--status-orange-color));
@include colored-status('X', var(--status-gray-color));
@include colored-status('M', var(--status-gray-color));
@include colored-status('L', var(--status-orange-color));
@include colored-status('C', var(--status-gray-color));