/* hide text with width < 12px */
@mixin hide-text-if-not-fit($color) {
	background: linear-gradient($color,$color) left/calc(100% - 12px) 100%, transparent;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;

	.qp-sch-popup-link:hover{
		text-decoration: underline $color;
	}
}

@mixin hide-text-if-not-fit-important($color) {
	background: linear-gradient($color,$color) left/calc(100% - 12px) 100%, transparent !important;
	-webkit-background-clip: text !important;
	background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	color: transparent !important;
}

@mixin event-border($color, $width) {
	border: $width solid $color;

	.qp-sch-overlay {
		inset-inline-start: -$width;
		width: calc(100% + 2 * #{$width});
	}
}

@mixin event-border-important($color, $width) {
	border: $width solid $color !important;

	.qp-sch-overlay {
		inset-inline-start: -$width !important;
		width: calc(100% + 2 * #{$width}) !important;
	}
}

@function block-offset($n) {
	@return (8-$n) * 1px;
}

.qp-sch-service-info {
	width: 100%;

	/* TODO: Simplify this */
	div:not(&:not(.only-child):not(.scheduled):hover) + &,
	body.b-draghelper-active div + & {
		background: {
			image: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.13) 50%, transparent 50%, transparent 100%);
			position: left top;
			repeat: repeat-x;
			size: 6px 1px;
			color: transparent!important;
		};
	}
	/* TODO: Simplify this */
	body:not(.b-draghelper-active) .qp-sch-not-assigned:hover:not(:has(&:not(.only-child):hover)) & {
		background: {
			image: repeating-linear-gradient(to right, white 0%, white 50%, transparent 50%, transparent 100%);
			position: left top;
			repeat: repeat-x;
			size: 6px 1px;
			color: transparent!important;
		};
	}
	ul {
		margin: 0;
		padding-inline-start: 0px;
		text-overflow: ellipsis;
		overflow: hidden;

		li {
			text-overflow: ellipsis;
			overflow: hidden;
			list-style-position: inside;
			text-wrap: nowrap;
			text-indent: 2px;

			span {
				margin-inline-start: -5px;
			}
		}
	}

	&.scheduled li {
		text-indent: 0px;

		&::marker {
			content: "\2713";
			color: #c0c2c4;
		}
		span {
			padding-inline-start: 6px;
			color: #c0c2c4;
		}
	}

	body:not(.b-draghelper-active) &:not(.only-child):not(.scheduled):hover {
		background: #1B202450 !important;
		color: white!important;
	}
	body:not(.b-draghelper-active) &.scheduled:hover {
		cursor: initial;
	}
}

.qp-sch-base-color-scheme {
	color: white !important;
	@include event-border-important(#ffffff00, 1px);

	.qp-sch-calendar-container &:not(.qp-sch-filtered-out) .qp-sch-event-info > div {
		@include hide-text-if-not-fit(white);
	}
}

.qp-sch-not-confirmed {
	&.qp-sch-not-assigned {
		background: repeating-linear-gradient(
			290deg,
			white,
			white 8px,
			#F3F4F5 8px,
			#F3F4F5 16px
		);
	}
	&:not(.qp-sch-not-assigned):not(.qp-sch-projected-assignment) {
		color: white;
		background: repeating-linear-gradient(
			290deg,
			var(--qp-link-color),
			var(--qp-link-color) 8px,
			var(--qp-sch-semi-transparent-main) 8px,
			var(--qp-sch-semi-transparent-main) 16px
		);
	}
}

.qp-sch-not-assigned {
	background-color: #fff !important;
	color: var(--qp-sch-event-unassigned) !important;

	&:not(.qp-sch-current) {
		border: solid 1px var(--qp-sch-event-unassigned-border) !important;
	}

	body:not(.b-draghelper-active) div:is(.qp-sch-backlog, .qp-sch-so-container) & {
		&:hover:not(:has(.qp-sch-service-info:not(.only-child):hover)),
		&.qp-sch-not-confirmed:hover {
			background: #1B202450 !important;
			border: 1px solid transparent;
			color: white!important;

			.qp-sch-tile-icon {
				filter: brightness(100) saturate(0%) brightness(100);
			}
			span {
				color: white!important;
			}
		}
	}
}

.qp-sch-current {
	@include event-border-important(black, 3px);
	border-radius: 10px;
	background-position: 2px 2px !important;
	width: 100%;

	&.qp-sch-not-confirmed:not(.qp-sch-not-assigned) {
		background-position: 1px 1px !important;
		@include event-border-important(black, 2px);

		.qp-sch-late-segment {
			bottom: 2px;
		}

		& > div:before {
			position: absolute;
			z-index: 2;
			display: block;
			content: "";
			border-radius: 8px;
			border: 2px solid #ffffffff;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			pointer-events: none;
			height: 100%;
			width: 100%;
		}

		&.b-sch-event-endsoutside > div:before {
			border-start-end-radius: 0px;
			border-end-end-radius: 0px;
			border-inline-end-width: 0px !important;
		}

		& .qp-sch-event-info {
			padding-block: block-offset(2) !important;
		}
		& .b-sch-event-content {
			& > div:first-child {
				margin-inline-start: -2px !important;
			}
			& > div:last-child {
				padding-inline-end: 9px !important;
			}
		}
	}

	& > .b-sch-event-content > .qp-sch-event-info,
	& > .qp-sch-event-info {
		padding-block: block-offset(3) !important;
	}
	& .b-sch-event-content {
		& > div:first-child {
			margin-inline-start: -3px !important;
		}
		& > div:last-child {
			padding-inline-end: 9px !important;
		}
	}
}

body:not(.b-draghelper-active) .qp-sch-search-dimmed:not(.qp-sch-filtered-out) {
	opacity: 0.4;

	&.qp-sch-dark-bg {
		opacity: 0.3;
	}

	&.qp-sch-base-color-scheme {
		color: 	#FFFFFFC0 !important;
	}
}

.qp-sch-dragged-wrapper {
	width: 100%;
	height: 100%;

	&:not(.qp-sch-vertical) {
		padding-inline-start: 2px;
		padding-inline-end: 3px;

		.qp-sch-dragged {
			vertical-align: middle;
		}

		table,
		tr {
			height: 100%;
			vertical-align: middle;
		}
	}

	&.qp-sch-vertical {
		padding-top: 2px;
		padding-inline-end: 1px;
		padding-bottom: 3px;
	}
}

.qp-sch-dragged {
	background-color: rgba(0, 0, 0, 0.35);
	border-radius: 9px;
	overflow: hidden;
	color: white;
	height: 100%;
	border: none;
	display: flex;

	.qp-sch-tile-icon {
		filter: brightness(100) saturate(0%) brightness(100);
	}

	&-valid &,
	&-overheader & {
		background-color: color-mix(in srgb, var(--qp-link-color) 71%, transparent) !important;

		.qp-sch-tile-icon {
			filter: initial;
		}
	}

	&-resource {
		padding-top: 8px;
		padding-inline-end: 8px;
		padding-bottom: 8px;
		padding-inline-start: 16px;
	}

	.qp-sch-event-info {
		padding-block: block-offset(0);
	}
}

.qp-sch-so {
	border-radius: 10px;
	width: 100%;
	cursor: pointer;
	overflow: hidden;
	transition: background-color 0.2s, color 0.2s, opacity 0.2s, font-weight 0.2s, border 0.2s !important;
 }

.qp-sch-event-info {
	padding-inline-end: 10px;
	padding-block: block-offset(1);
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	text-overflow: ellipsis;
	overflow: hidden;

	b {
		font-weight: 700 !important;
		font-size: 13px;

		.b-sch-event.b-sch-dirty-new & {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	& > div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		& > span {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;

			&:nth-child(2) {
				padding-inline-start: 16px;

				.qp-sch-left-container & {
					flex: none;
					text-align: end;
					flex-shrink: 10000;
				}
			}
		}
	}

	.qp-sch-projected-assignment & {
		padding-block: block-offset(2) !important;
	}
	.qp-sch-not-confirmed:not(.qp-sch-not-assigned) & {
		padding-block: block-offset(0);
	}

	.qp-sch-left-container & {
		&.b-hidden {
			font-style: italic;
			display: inherit !important;
		}
		& + div {
			max-height: 128px;
			overflow: auto;
		}
	}

	.qp-sch-so-container & {
		padding-inline-start: 12px;
	}

	.b-sch-event:is(:not(.qp-sch-not-confirmed),.qp-sch-not-assigned):not(.b-sch-dirty-new):not(.qp-sch-filtered-out):not(.qp-sch-base-color-scheme) & > div {
		.qp-sch-calendar-container &  {
			@include hide-text-if-not-fit(var(--qp-sch-event-color));
		}
	}

	.b-sch-event:not(.b-sch-dirty-new):hover & > div {
		body:not(.b-draghelper-active) .qp-sch-calendar-container .qp-sch-backlog & {
			@include hide-text-if-not-fit(white);
		}
	}

	.qp-sch-not-confirmed:not(.qp-sch-not-assigned):not(.qp-sch-projected-assignment) & > div {
		.qp-sch-calendar-container &  {
			@include hide-text-if-not-fit(white);
		}

		/* make all text white on the left pane, with narrow font as on the board (not the same as "color: white") */
		.qp-sch-left-container & > span > span {
			background: white;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			color: transparent;
		}

		mark {
			-webkit-text-fill-color: black;
			background-color: yellow;
		}
	}
}

.qp-sch-left-container .qp-sch-popup-link:hover {
	text-decoration: underline;
}

.qp-sch-grid-container .b-sch-event-wrap:not(.b-sch-vertical) {
    padding-inline-start: 2px;
    padding-inline-end: 2px;
}

.b-sch-event {
	outline: none !important;
	overflow: hidden !important;

	.b-sch-vertical & {
		padding-inline: 0px 10px !important;
	}

	&.b-sch-event-selected * {
		z-index: initial !important;
	}

	.qp-sch-left-container &:is(:not(.qp-sch-not-confirmed),.qp-sch-not-assigned) .b-sch-event-content {
		& > div:first-child {
			margin-inline-start: -1px;
		}
		& > div:last-child {
			margin-inline-end: -1px;
		}
	}

	:is(.qp-sch-calendar-container,.qp-sch-search-container) & {
		background-color: var(--qp-sch-event-background);
		color: var(--qp-sch-event-color);
		border-radius: 10px;
		font-weight: 700;
		font-size: 12px;
		outline: none !important;

		&:is(:not(.qp-sch-not-confirmed):not(.qp-sch-locked), .qp-sch-not-assigned) {
			&:not(.qp-sch-projected-assignment) {
				&:not(.b-sch-dirty-new) {
					@include event-border(var(--qp-sch-event-border), 1px);
				}
			}
		}
		&.qp-sch-locked {
			background-color: #0000001A;
			@include event-border(#00000010, 1px);
		}

		&.b-sch-event-endsoutside {
			border-start-end-radius: 0px;
			border-end-end-radius: 0px;
			border-inline-end-width: 0px !important;
		}
	}

	.b-drag-invalid & {
		background: rgba(0, 0, 0, 0.35) !important;
		color: white !important;

		.qp-sch-event-info > div {
			@include hide-text-if-not-fit-important(white);
		}

		.qp-sch-tile-icon {
			filter: brightness(100) saturate(0%) brightness(100) !important;
		}
	}

	.qp-sch-calendar-container &.qp-sch-filtered-out {
		background-color: #00204010;
		color: transparent;

		svg {
			display: none;
		}
	}
}

.qp-sch-projected-assignment,
.b-sch-dirty-new {
	color: var(--primary-color) !important;
	border: 2px solid var(--primary-color);
	background: white !important;
}

.b-sch-event-content {
	height: 100% !important;
	margin: 0 !important;
	position: initial !important;
	width: 100%;
}

.qp-sch-event-status-bar {
	flex-basis: 22px;
	min-width: 22px;
	height: 100%;
	background: repeating-linear-gradient(90deg, #007ACA, #007ACA 7px, white 7px, white 8px, transparent 8px, transparent);

	body:not(.b-draghelper-active) *:is(.qp-sch-dragged, .qp-sch-backlog .b-sch-event:hover) & {
		background: repeating-linear-gradient(90deg, transparent, transparent 9px, #FFFFFF60 9px, #FFFFFF60 10px, transparent 10px, transparent) !important;
	}
}

.qp-sch-overlay {
	position: absolute;
	top: 0px;
	inset-inline-start: 0px;
	height: 100%;
	width: 100%;
	z-index: -1;

	div {
		position: absolute;
		height: 100%;
	}

	.qp-sch-non-operational {
		background-color: #FFFFFF80;

		.qp-sch-dark-bg & {
			background-color: #FFFFFF40;
		}
	}

	.qp-sch-late-segment {
		background-color: #EE4051;
		height: 3px;
		bottom: 0px;
	}
}

.qp-sch-event-empty-status-bar {
	flex-basis: 11px;
	min-width: 11px;
}

.qp-sch-tile-icon {
	display: flex;
    flex-wrap: wrap;
    height: 16px;
    overflow: hidden;
	flex-shrink: 10000;

	& > span:first-child {
		width: 10px;
		height: 16px;
	}
	& > span:last-child {
		height: 16px;
		flex-wrap: nowrap;
    	display: flex;
	}

	span:has(> svg),
	svg {
		width: 16px;
		height: 16px;
	}
	span:has(> svg) + span:has(> svg) {
		margin-inline-start: 6px;
	}
}
