@import 'static/status-colors.scss';
@include colored-status('D', var(--status-orange-color));
@include colored-status('A', var(--status-green-color));
@include colored-status('S', var(--status-orange-color));
@include colored-status('X', var(--status-gray-color));
@include colored-status('E', var(--status-gray-color));
