@import 'static/status-colors.scss';
@include colored-status('H', var(--status-orange-color));
@include colored-status('B', var(--status-red-color));
@include colored-status('V', var(--status-red-color));
@include colored-status('N', var(--status-blue-color));
@include colored-status('A', var(--status-red-color));
@include colored-status('D', var(--status-blue-color));
@include colored-status('E', var(--status-blue-color));
@include colored-status('L', var(--status-gray-color));
@include colored-status('M', var(--status-gray-color));
@include colored-status('C', var(--status-gray-color));