.sp-cart-source {
	height: 100%;

	.hidden {
		display: none;
	}

	qp-fieldset {
		display: flex;
		height: 100%;
		align-items: center;

		fieldset {
			border: none;
			padding-bottom: 0px;
			padding-top: 0px;
		}
	}

	.cart-open-btn {
		z-index: 1000;
		position: absolute;
		width: 100%;
		height: 100%;
		background: none;
		border: none;
		cursor: pointer;
	}

	.cart-wrapper {
		display: flex;
		column-gap: 8px;
		color: white;
		align-items: center;

		.cart-info {
			.cart-header {
				font-size: 16px;
				line-height: 18px;
			}
			.cart-items-total {
				font-size: 13px;
				line-height: 15px;
				opacity: 0.7;
			}
		}

		.cart-items-qty {
			position: relative;
			font-size: 12px;
			line-height: 12px;
			background: #EE4051;
			height: 17px;
			border-radius: 20px;
			padding-inline: 5px;
			padding-block: 2.5px;
			top: -7px;
			margin-inline-start: -16px;
		}
	}

	qp-hyper-icon {
		display : flex;
		align-items : center;

		.sp-icon {
			display: flex;
			align-items: center;

			svg {
				width: 24px;
				height: 24px;
				color: white;
			}
		}
	}
}

.sp-hidden {
	display: none !important;
}

.input-group[role=search] {
	@media (width < 480px) {
		max-width: 100px;
	}
}


// special case for the Cart screen - handled in sp-base.ts
.navbar-nav .sp-cart-source {
	background: rgba(0, 0, 0, 0.2);
}

.sp-hidden-focus {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}
