#pdfRecognitionViewerContainer {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.pdf-viewer-container {
    overflow: auto;
}

.pdf-viewer-page {
    position: relative;
}

.pdf-viewer-canvas {
    border: 1px solid #4d4d4d;
}

.pdf-viewer-svg {
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    border: 1px solid transparent;
}
