@import 'static/status-colors.scss';
@include colored-status('B', var(--status-blue-color));
@include colored-status('C', var(--status-gray-color));
@include colored-status('U', var(--status-gray-color));
@include colored-status('P', var(--status-gray-color));
@include colored-status('H', var(--status-orange-color));
