@import 'static/status-colors.scss';
@include colored-status('H', var(--status-blue-color));
@include colored-status('O', var(--status-blue-color));
@include colored-status('Q', var(--status-blue-color));
@include colored-status('A', var(--status-blue-color));
@include colored-status('C', var(--status-gray-color));
@include colored-status('L', var(--status-gray-color));