.sp-catalog {
	--qp-inputs-gap: 0px !important;
	--sp-column-gap: 24px;

	.sp-catalog-feed {
		feed-body {
			column-gap: var(--sp-column-gap);
		}

		.sp-feed-item {
			width: 186px;
			margin-bottom: 60px;
			@media (width < 600px) {
				width: calc(round(down, 50vw - var(--sp-column-gap) * 0.5 - var(--sp-column-gap), 1px));
			}
		}

		.sp-image {
			width: 186px;
			height: 186px;
			margin-bottom: 12px;
			align-content: center;
			padding-inline-start: 0px;

			@media (width < 600px) {
				width: calc(round(down, 50vw - var(--sp-column-gap) * 0.5 - var(--sp-column-gap), 1px));
				height: calc(round(down, 50vw - var(--sp-column-gap) * 0.5 - var(--sp-column-gap), 1px));
			}
		}

		.sp-view-details button {
			height: calc(100% - 30px) !important;
		}

		qp-fieldset {
			background: none;
			border: none;
			padding: 0;
			margin: 0;

			qp-field * {
				padding-inline-start: 0;
				border: none;
			}
		}

		.sp-add-to-cart {
			background-color: var(--sp-primary-color);
			color: white;
			width: 100%;
			border-radius: 6px;

			&:hover {
				background-color: var(--sp-primary-color-hover);
			}

			button {
				color: white;
				qp-icon {
					margin-inline-end: 2px;
				}
				svg {
					fill: white;
				}
			}
		}
	}

	.sp-item-descr {
		font-size: 16px;
		line-height: 18px;
		padding-block-end: 8px !important;
		padding-inline-start: 0px;
		height: 36px;
		margin-bottom: 4px;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	.sp-item-price .qp-text-editor {
		font-size: 20px;
		font-weight: 700;
		line-height: 23px;
		text-align: start;
	}

	.sp-item-stock .qp-text-editor {
		line-height: 16px;
		font-size: 13px;
		padding-bottom: 12px !important;

		color: var(--sp-in-stock);
	}

	.sp-item-out-of-stock .sp-item-stock .qp-text-editor {
		color: var(--sp-out-of-stock);
	}

	.cury-unit-price,
	.discount-field {
		font-weight: bold;
	}

	.grid-content-table > tbody > tr:not([class*="edit"]) > td.read-only i.ac {
		opacity: 1;
	}

	.custom-filter-panel .qp-fieldset fieldset {
		flex-direction: row;
	}

	.custom-filter-panel .qp-fieldset {
		background-color: white;
		border: none;
		padding: 0;
	}

	.sp-availability-filter {
		max-width: 180px;
		width: auto;
	}

	.price-filter {
		@media (width < 600px) {
			width: 100%;
		}
	}
}
