@import "../ar-document/ar-documents.scss";
@import "../sp-paymethods.scss";

.sp-documents {
	@container qp-screen (width < 692px) {
		&-balance,
		&-discount,
		&-total {
			padding-inline-end: 8px;
		}
	}

	&-cury {
		position: absolute;
		inset-inline-end: 8px;
		bottom: 0px;
		pointer-events: none;
		font-weight: bold;
		color: #1b1b1b;
	}

	&-document {
		qp-template .record-item {
			background: white;
			margin-inline-start: 10px;
			width: calc(100% - 10px);
			padding-inline: 10px;
			padding-block: 12px;
			margin-bottom: 12px;
			border-radius: 10px;
		}
	}

	.sp-remove-adjustment {
		* {
			background: none;
			fill: var(--qp-feed-label-color);
		}
	}
}

.sp-payment-warning {
	background: #fff;
	width: 100%;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 8px;
	margin-inline-start: 8px;
}

.sp-adjustments-panel {
	padding-bottom: 0px;
}

.sp-hidden {
	display: none;
}

qp-button.sp-remove-adjustment button.qp-button:not([disabled]):hover {
	background-color: initial;
}
