@import 'static/status-colors.scss';
@include colored-status('A', var(--status-green-color));
@include colored-status('F', var(--status-blue-color));
@include colored-status('D', var(--status-gray-color));
@include colored-status('R', var(--status-gray-color));
@include colored-status('H', var(--status-orange-color));
@include colored-status('S', var(--status-orange-color));
