/* hide text with width < 12px */
@mixin hide-text-if-not-fit($color) {
	background: linear-gradient($color,$color) left/calc(100% - 12px) 100%, transparent;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

@mixin event-border($color, $width) {
	border: $width solid $color;
}

@mixin event-border-important($color, $width) {
	border: $width solid $color !important;

	.qp-sch-overlay {
		inset-inline-start: ($width + 2) !important;
		top: $width !important;
		width: calc(100% - 2 * #{$width + 2}) !important;
		height: calc(100% - 2 * #{$width}) !important;
	}
}

@function block-offset($n) {
	@return (8-$n) * 1px;
}

.qp-sch-service-info {
	width: 100%;

	/* TODO: Simplify this */
	div:not(&:not(.only-child):not(.scheduled):hover) + &,
	body.b-draghelper-active div + & {
		background: {
			image: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.13) 50%, transparent 50%, transparent 100%);
			position: left top;
			repeat: repeat-x;
			size: 6px 1px;
			color: transparent!important;
		};
	}
	/* TODO: Simplify this */
	body:not(.b-draghelper-active) .qp-sch-not-assigned:hover:not(:has(&:not(.only-child):hover)) & {
		background: {
			image: repeating-linear-gradient(to right, white 0%, white 50%, transparent 50%, transparent 100%);
			position: left top;
			repeat: repeat-x;
			size: 6px 1px;
			color: transparent!important;
		};
	}
	ul {
		margin: 0;
		padding-inline-start: 0px;
		text-overflow: ellipsis;
		overflow: hidden;

		li {
			text-overflow: ellipsis;
			overflow: hidden;
			list-style-position: inside;
			text-wrap: nowrap;
			text-indent: 2px;

			span {
				margin-inline-start: -5px;
			}
		}
	}

	&.scheduled li {
		text-indent: 0px;

		&::marker {
			content: "\2713";
			color: #c0c2c4;
		}
		span {
			padding-inline-start: 6px;
			color: #c0c2c4;
		}
	}

	body:not(.b-draghelper-active) &:not(.only-child):not(.scheduled):hover {
		background: #1B202450 !important;
		color: white!important;
	}
	body:not(.b-draghelper-active) &.scheduled:hover {
		cursor: initial;
	}
}

.qp-sch-base-color-scheme {
	color: white !important;
	@include event-border-important(#ffffff00, 1px);

	.qp-sch-calendar-container &:not(.qp-sch-filtered-out) .qp-sch-event-info > div {
		@include hide-text-if-not-fit(white);
	}
}

.qp-sch-not-confirmed {
	background: repeating-linear-gradient(290deg, transparent, transparent 8px, rgba(255,255,255, 0.3) 8px, rgba(255,255,255, 0.3) 16px);
}

.qp-sch-not-assigned {
	color: var(--qp-sch-event-unassigned) !important;

	&:not(.qp-sch-search-highlight):not(.qp-product-event-bar) {
		border: solid 1px var(--qp-sch-event-unassigned-border) !important;
	}

	body:not(.b-draghelper-active) div:is(.qp-sch-backlog, .qp-sch-so-container) & {
		&:hover:not(:has(.qp-sch-service-info:not(.only-child):hover)),
		&.qp-sch-not-confirmed:hover {
			background: #1B202450 !important;
			border: 1px solid transparent;
			color: white!important;

			.qp-sch-tile-icon {
				filter: brightness(100) saturate(0%) brightness(100);
			}
			span {
				color: white!important;
			}
		}
	}
}

.qp-sch-search-highlight {
	@include event-border-important(black, 3px);
	border-radius: 10px;
	background-position: 2px 2px !important;
	width: 100%;

	&.qp-sch-not-confirmed:not(.qp-sch-not-assigned) {
		background-position: 1px 1px !important;
		@include event-border-important(black, 2px);

		.qp-sch-late-segment {
			bottom: 2px;
		}

		& > div:before {
			position: absolute;
			z-index: 2;
			display: block;
			content: "";
			border-radius: 8px;
			border: 2px solid #ffffffff;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			pointer-events: none;
			height: 100%;
			width: 100%;
		}

		&.b-sch-event-endsoutside > div:before {
			border-start-end-radius: 0px;
			border-end-end-radius: 0px;
			border-inline-end-width: 0px !important;
		}

		& .qp-sch-event-info {
			padding-block: block-offset(2) !important;
		}

		& .b-sch-event-content {
			& > div:first-child {
				margin-inline-start: -2px !important;
			}

			& > div:last-child {
				padding-inline-end: 9px !important;
			}
		}
	}

	& .qp-sch-event-info {
		padding-block: block-offset(3) !important;
	}

	& .b-sch-event-content:not(:has(.qp-sch-event-info[resource-event-type])) {
		& > div:first-child:not(.qp-product-event-container):not(.qp-sch-event-status-bar) {
			margin-inline-start: -3px !important;
		}

		& > div:last-child:not(.qp-product-event-container) {
			padding-inline-end: 9px !important;
		}
	}

	& .qp-sch-event-status-bar-fixed {
		border-top-left-radius: 6.6px;
		border-bottom-left-radius: 6.6px;
	}
}

.qp-sch-search-dimmed:not(.qp-sch-filtered-out) {
	opacity: 0.4;

	&.qp-sch-dark-bg {
		opacity: 0.3;
	}

	&.qp-sch-base-color-scheme {
		color: 	#FFFFFFC0 !important;
	}
}

.qp-sch-dragged-wrapper {
	width: 100%;
	height: 100%;

	&:not(.qp-sch-vertical) {
		padding-inline-start: 2px;
		padding-inline-end: 3px;

		.qp-sch-dragged {
			vertical-align: middle;
		}

		table,
		tr {
			height: 100%;
			vertical-align: middle;
		}
	}

	&.qp-sch-vertical {
		padding-top: 2px;
		padding-inline-end: 1px;
		padding-bottom: 3px;
	}
}

.qp-sch-dragged {
	background-color: rgba(0, 0, 0, 0.35);
	border-radius: 9px;
	color: white;
	height: 100%;
	border: none;
	display: flex;

	.qp-sch-tile-icon {
		filter: brightness(100) saturate(0%) brightness(100);
	}

	&-valid &,
	&-overheader & {
		background-color: color-mix(in srgb, var(--primary-color) 71%, transparent) !important;

		.qp-sch-tile-icon {
			filter: initial;
		}
	}

	&-resource {
		padding-top: 8px;
		padding-inline-end: 8px;
		padding-bottom: 8px;
		padding-inline-start: 16px;
	}

	.qp-sch-event-info {
		padding-block: block-offset(0);
	}
}

.qp-sch-so {
	border-radius: 10px;
	width: 100%;
	cursor: pointer;
	overflow: hidden;
	transition: background-color 0.2s, color 0.2s, opacity 0.2s, font-weight 0.2s, border 0.2s !important;
 }

.qp-sch-event-info {
	padding-inline-end: 10px;
	padding-block: block-offset(1);
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	text-overflow: ellipsis;
	overflow: hidden;

	b {
		font-weight: 700 !important;
		font-size: 13px;

		.b-sch-event.b-sch-dirty-new & {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	& > div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 100%;

		& > span {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;

			&:nth-child(2) {
				padding-inline-start: 16px;

				.qp-sch-left-container & {
					flex: none;
					text-align: end;
					flex-shrink: 10000;
				}
			}
		}
	}

	.qp-sch-projected-assignment & {
		padding-block: block-offset(2) !important;
	}
	.qp-sch-not-confirmed:not(.qp-sch-not-assigned) & {
		padding-block: block-offset(0);
	}

	.qp-sch-left-container & {
		&.b-hidden {
			font-style: italic;
			display: inherit !important;
		}
		& + div {
			max-height: 128px;
			overflow: auto;
		}
	}

	.qp-sch-so-container & {
		padding-inline-start: 12px;
	}

	.b-sch-event:is(:not(.qp-sch-not-confirmed),.qp-sch-not-assigned):not(.b-sch-dirty-new):not(.qp-sch-filtered-out):not(.qp-sch-base-color-scheme) & > div {
		.qp-sch-calendar-container &  {
			@include hide-text-if-not-fit(var(--qp-sch-event-color));
		}
	}

	.qp-sch-calendar-container & {
		:is(:not(:nth-child(-n + 2)), :last-child) {
			padding-bottom: block-offset(6);
		}
	}

	.b-sch-event:not(.b-sch-dirty-new):hover & > div {
		body:not(.b-draghelper-active) .qp-sch-backlog & {
			@include hide-text-if-not-fit(white);
		}
	}
	.qp-sch-not-confirmed:not(.qp-sch-not-assigned):not(.qp-sch-projected-assignment) & > div {
		.qp-sch-calendar-container &  {
			@include hide-text-if-not-fit(white);
		}

		/* make all text white on the left pane, with narrow font as on the board (not the same as "color: white") */
		.qp-sch-left-container & > span > span {
			background: white;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			color: transparent;
		}

		mark {
			-webkit-text-fill-color: black;
			background-color: yellow;
		}
	}
}

.qp-sch-events-container {
	.b-sch-event-wrap {
		.qp-sch-event-info {
			& > div:first-child {
				& > div:first-child {
					display: flex;
					align-items: center;
					margin-inline-end: 2px;

					& > div:nth-child(2) {
						padding-inline-start: 8px;
					}
				}
			}
		}
	}
}

.qp-sch-left-container .qp-sch-popup-link:hover {
	text-decoration: underline;
}

.qp-sch-grid-container .b-sch-event-wrap:not(.b-sch-vertical) {
	padding-inline-start: 2px;
	padding-inline-end: 2px;

	& .qp-sch-overlay {
		inset-inline-start: 2px;
		inset-inline-end: 2px;
	}
}

.b-sch-event {
	outline: none !important;
	min-width: 16px !important;

	.b-sch-vertical & {
		padding-inline: 0px 10px !important;
	}

	&.b-sch-event-selected * {
		z-index: initial !important;
	}

	.qp-sch-left-container &:is(:not(.qp-sch-not-confirmed),.qp-sch-not-assigned) .b-sch-event-content {
		& > div:first-child {
			margin-inline-start: -1px;
		}

		& > div:last-child {
			margin-inline-end: -1px;
		}
	}

	:is(.qp-sch-calendar-container,.qp-sch-search-container) & {
		background-color: var(--qp-sch-event-background);
		color: var(--qp-sch-event-color);
		border-radius: 10px;
		font-weight: 700;
		font-size: 12px;
		outline: none !important;

		&.b-sch-event-endsoutside {
			border-start-end-radius: 0px;
			border-end-end-radius: 0px;
			border-inline-end-width: 0px !important;
		}

		&:has(.qp-product-event-container) {
			border: unset !important;

			.qp-product-event-bar {
				flex-basis: unset;

				&.qp-sch-search-highlight {
					background-position: unset !important;
				}
			}
		}
	}

	.qp-sch-calendar-container &.qp-sch-filtered-out {
		background-color: #00204010;
		color: transparent;

		svg {
			display: none;
		}
	}
}

.qp-sch-projected-assignment,
.b-sch-dirty-new {
	color: var(--primary-color) !important;
	border: 2px solid var(--primary-color);
	background: white !important;
}

.b-sch-event-content {
	height: 100% !important;
	margin: 0 !important;
	// width: 100%;
}

.qp-sch-event-status-bar {
	width: 9px !important;
	border-radius: 10px;
	height: 100%;
	background: repeating-linear-gradient(to bottom, #007ACA, #007ACA);
	margin-inline-end: 10px;
	opacity: 0;

	body:not(.b-draghelper-active) *:is(.qp-sch-dragged, .qp-sch-backlog .b-sch-event:hover) & {
		background: repeating-linear-gradient(90deg, transparent, transparent 9px, #FFFFFF60 9px, #FFFFFF60 10px, transparent 10px, transparent) !important;
	}

	&.scrolling {
		opacity: 1;
	}
}

.qp-sch-event-status-bar-fixed {
	width: 9px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 100%;
	background: repeating-linear-gradient(to bottom, #007ACA, #007ACA);
	margin-inline-end: 10px;
	position: fixed;

	&.scrolling {
		opacity: 0;
	}
}

.qp-sch-overlay {
	position: fixed;
	top: 0px;
	inset-inline-start: 0px;
	height: 100%;
	width: 100%;
	z-index: -1;
	border-radius: 10px;

	div {
		position: absolute;
		height: 100%;
	}

	.qp-sch-late-segment {
		background-color: #FFD9DC;
		border-inline-start: 2px solid #FFD9DC;
		height: 100%;
		bottom: 0px;
		border-start-start-radius: 0;
		border-start-end-radius: 10px;
		border-end-end-radius: 10px;
		border-end-start-radius: 0;
	}

	.qp-sch-early-segment {
		position: absolute;
		top: 50%;
		inset-inline-start: 0;
		width: 100%;
		height: 3px;
		transform: translateY(-50%);
		z-index: -1;
	}
}

.qp-sch-event-empty-status-bar {
	flex-basis: 11px;
	min-width: 11px;
}

.qp-sch-tile-icon {
	display: flex;
    flex-wrap: wrap;
    height: 16px;
    overflow: hidden;
	flex-shrink: 10000;

	& > span:first-child {
		height: 16px;
	}
	& > span:last-child {
		height: 16px;
		flex-wrap: nowrap;
    	display: flex;
	}

	span:has(> svg),
	svg {
		width: 16px;
		height: 16px;
	}

	span + span {
		margin-inline-start: 6px;
	}

	span:has(> svg), svg {
		+ qp-tooltip {
			display: none;
		}
	}
}

.qp-product-event-container {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	+ .qp-sch-event-info {
		position: relative;
		z-index: 1 !important;
		padding-block: block-offset(5);
		padding-inline-start: 10px;

		> div {
			color: white !important;
			-webkit-text-fill-color: white !important;
		}
	}
}

.qp-product-signs-visble {
	width: 100%;
	background-color: #EE4051;
	padding-top: 3px;
}

.qp-product-signs-visble.qp-sch-search-highlight {
	border-radius: 0 !important;
	border-bottom: unset !important;
}

.qp-product-event-bar {
	position: relative;
	width: 100%;
	height: 100%;
	flex-basis: 90%;
	padding: 0 5px;
	overflow: hidden;

	.qp-sch-late-segment {
		position: absolute;
		bottom: unset;
		top: 0;
		background-color: #FF9999;
		border-inline-start: 2px solid #FF9999;
		height: 100%;
	}
}

.qp-sch-search-highlight.qp-product-event-bar {
	border-radius: 0px !important;
}

.qp-product-event-container:not(:has(.qp-product-signs-visble)) .qp-sch-search-highlight.qp-product-event-bar {
	border-block-start: 3px solid black !important;
}

.qp-product-event-container:has(.qp-product-signs-visble) .qp-sch-search-highlight.qp-product-event-bar {
	border-block-start: unset !important;
}

.qp-product-event-jaws {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: space-between;
}
.qp-product-event-jaw {
	width: 0;
	height: 0;
}
.qp-product-event-jaw::before {
	position: fixed;
	content: '';
	border-inline-end: 9px solid transparent;
	border-block-end: 9px solid transparent;
	border-block-start: 9px solid;
}

.qp-product-event-jaw.qp-sch-search-highlight {
	position: relative;
	bottom: 3px;
	border-inline-start: unset !important;
	border-block-start: unset !important;
}

.qp-product-event-jaw.qp-sch-search-highlight::before {
	margin-inline-start: 2.667px;
	position: fixed;
	content: "";
	border-inline-end: 6.33px solid transparent;
	border-block-end: 6.33px solid transparent;
	border-block-start: 6.33px solid;
}

.qp-product-event-jaw.qp-sch-search-highlight::after {
	position:fixed;
	content: '';
	border-inline-end: 11.667px solid transparent;
	border-bottom: 11.667px solid transparent;
	border-top: 11.667px solid black;
	z-index: -1;
}

.b-sch-dependency {
	stroke-width: 1;
	stroke : black;
 }

 .b-sch-dependency-arrow {
	 fill: black;
 }

.qp-sch-calendar-container {
	.qp-sch-events-container {
		.b-tree-icon.b-icon.b-icon-tree-leaf {
			all: unset !important;
			display: none !important;
		}
	}
}

.qp-sch-events-container {
	.b-grid-row {
		.b-tree-cell-inner {
			gap: 5px;

			.qp-sch-tile-icon {
				width: 16px;
				height: 16px;
			}
		}
	}
}

.b-sch-event:is(.qp-small-event) .b-sch-event-content:has(.qp-sch-event-info[resource-event-type="order"]) {
	position: absolute !important;
	left: 0px;
}

.b-sch-event:is(.qp-small-event) .b-sch-event-content:has(.qp-sch-event-info[resource-event-type="product"]) {
	overflow: unset;

	.qp-sch-event-info > div {
		color: var(--qp-sch-event-color) !important;
		-webkit-text-fill-color: var(--qp-sch-event-color) !important;
	}
}
