.qp-tool-bar-item.exitTableDefiningButton {
    color: #CB444A;
}

.recognition-row-checkboxContainer {
    position: absolute;
    display: none;
}

.recognition-row-checkbox {
    position: absolute;
    appearance: none;
    border: 2px solid #00FF04;
    height: 15px;
    width: 15px;
    border-radius: 3px;
}

.recognition-row-checkbox.active,
.recognition-row-checkbox.active:focus,
.recognition-row-checkbox.active:checked {
     border: 2px solid #027ACC;
     box-shadow: none;
}

.recognition-row-checkbox:checked {
    background-color: #00FF04;
}

.recognition-row-checkbox:checked::after {
    position: absolute;
    content: ' ';
    width: .1em;
    height: .25em;
    border-radius: 0;
    inset-inline-start: .13em;
    background: 0 0;
    border-inline-end: solid white .08em;
    border-bottom: solid white .08em;
    font-size: 2.2em;
    transform: rotate(45deg);
}

.recognition-rect {
    fill: rgba(2, 122, 204, 0.2);
    stroke: #027ACC;
    stroke-width: 1px;
}

.recognition-value {
    opacity: 0;
}

.recognition-rect.mapped {
    fill: rgba(0, 255, 4, 0.2);
    stroke: none;
    opacity: 1;
}

.recognition-row,
.recognition-column {
    display: none;
}

.recognition-column-undoContainer {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: #FF0000;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none; /* IE */
    -webkit-user-select: none; /* Safari */
}

.recognition-row.mapped,
.mode-column .recognition-column {
    display: block;
    stroke: none;
}

.recognition-column-hover {
    cursor: pointer;
    fill: rgba(1, 157, 4, 0.2);
}

.mode-box .recognition-value:hover,
.mode-prerow .recognition-value:hover {
    cursor: pointer;
    opacity: 1;
}

.mode-prerow .recognition-row-checkboxContainer,
.mode-row .recognition-row-checkboxContainer {
    display: flex;
}

.mode-row .recognition-value,
.mode-row .recognition-row-checkboxContainer.hidden-in-row-mode {
    display: none;
}

.mode-column .recognition-value,
.mode-column .recognition-row.mapped,
.mode-column .recognition-rect.hidden-in-column-mode,
.mode-column .recognition-column.hidden-in-column-mode {
    display: none;
}

.mode-column .recognition-column.mapped {
    fill: rgba(7, 211, 3, 0.3);
}

.mode-column .recognition-column.mapped.selected-hover {
    fill: rgba(7, 150, 3, 0.3);
}

#dragNdropContainer {
    height: 100%;
}

#dragNdropContainer .qp-tool-bar-button.uploader-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#dragNdropContainer .drag-drop-icon-container {
    transform: scale(2);
    color: #BABABA;
}

#pdfRecognitionViewerContainer {
    width: 100%;
    flex-flow: column;
    position: relative;
}

#pdfRecognitionViewerContainer .pdf-toolbar {
    text-align: center;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}
